img {
    max-width:100%;
    height: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

pre {
  background-color: #f9f9f9;
  padding: 0.5em 10px;
}

footer {
  padding: 4rem 0;
  margin-top: 4rem;
  background-color: #f7f7f7;
}

header {
  padding: 132px 0;
  margin-bottom: 1rem;
  background-color: #f7f7f7;
  background: url(tc.svg) no-repeat center;
}
