<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ jsdir }}/bootstrap.min.css">
  <link rel="stylesheet" href="{{ cssdir }}/style.css">
  <link rel="stylesheet" href="{{ cssdir }}/codehilite.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel=”alternate” type=”application/rss+xml” title=”RSS” href=”/rss.xml” />
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<!--  <script type="text/javascript" src="{{ cssdir }}/smil-in-javascript.js"></script>
  <script type="text/javascript" src="{{ cssdir }}/web-animations.js"></script> -->
</head>
<body>
<header></header>
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3 push-md-9 bd-sidebar">{% block site %}{% endblock %}</div>
    <div class="col-12 col-md-9 pull-md-3 bd-content">{% block main %}{% endblock %}</div>
  </div>
</div>
{% endblock %}
<footer class="bd-footer"></footer>
</body>
</html>
