{% extends "base.html" %}

{% block meta %}
  <meta property="og:title" content="{{ title }}"/>
{% if "image" in meta %}
  <meta property="og:image" content="{{ meta.image }}"/>
{% endif %}
  <meta property="og:url" content="{{ disqs_url }}"/>
  <meta property="og:site_name" content="Tomasz Cichocki - technology blog"/>
  <meta property="og:description" content="{{ meta.abstract }}"/>
  <meta name="twitter:title" content="{{ title }}" />
{% if "image" in meta %}
  <meta name="twitter:image" content="{{ meta.image }}" />
{% endif %}
  <meta name="twitter:url" content="{{ disqs_url }}" />
  <meta name="twitter:card" content="summary" />
{% endblock %}

{% block site %}
  <ul>
    {% for post in posts %}
      {% if post.active %}
        <li>{{ post.title }}</li>
      {% else %}
        <li><a href="{{ post.name }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="container-fluid">
    <a href="/rss.xml"><img src="{{ cssdir }}/rss.gif" width="36" height="14"></a>
  </div>
{% endblock %}

{% block main %}
{{ content|safe }}
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = '{{ disqs_url }}';
this.page.identifier = '{{ disqs_id }}';
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://tomasz-cichocki.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}
